In [3]:
import pandas as pd

In [11]:
pwd

'/home/onyxia/work/Projet-de-Python-Leroux-Gisserot/notebooks'

In [12]:
gz_file_path = "../data/synop.202411.csv.gz"
df = pd.read_csv(gz_file_path, compression='gzip', sep=';', encoding='utf-8')

In [13]:
df.tail()

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
12121,81401,20241126090000,101120,20,3,260,0.500000,297.150000,296.850000,98,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
12122,81405,20241126090000,101160,30,3,40,0.500000,297.550000,296.650000,95,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
12123,81408,20241126090000,101140,20,3,320,0.800000,296.650000,296.350000,98,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
12124,81415,20241126090000,101190,40,3,70,1.900000,297.750000,297.050000,96,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
12125,89642,20241126090000,97990,-50,6,290,5.700000,273.050000,267.050000,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN